.page-header {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.image-container {
    position: relative;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.page-header h1{
        -webkit-text-stroke: 1px rgb(68, 67, 67);
        -webkit-text-fill-color: white;
        position: absolute;
        top: 0;
        left: 50px;
        font-size: 300%;
  

   
}
.pages-section{
        padding: 30px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        flex-direction: column;
       
}

.about-section h2{
    margin-top: 0;
}
.section-intro{
    font-size: 0.9rem;
    color: grey;
}

.salon-name{
    font-size: 140%;
    font-weight: bolder;
}
.image-section{
    flex-direction: row;
}

.about-image-container{
    position: relative;
    margin-right: 40px;
    width: 300px;
    height: 260px;
    background-color: black;
    
}

.about-image-1-background{
    width: 200px;
    height: 260px;
    position: absolute;
    top:-50px;
    left:20px;
    background-color: grey;
       
}
.about-image-1{
    width: 200px;
    height: 260px;
    position: relative;

}

.vector-section{
    position: relative;
    width: 100%;
}

.about-vector{
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 20%;
    margin-top: 50px;

}

.vector-section-text{
    width: 45%;
    text-align: center;
}

.services-list-container{
    padding: 20px 30px;
    position: relative;
    background: linear-gradient(45deg, #8c8c8c, #40bcff, #6f148d);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(110, 107, 107, 0.5));
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.services-list > li{
    padding: 20px;
    list-style: none;
    width: 30%;
    min-width: 300px;
}

.enclosing-services{
        font-size: 0.9rem;
        color: grey;
}

.artists-container {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}

.staff-section h1{
    margin-top: 0;
    text-align: center;
    background-color: rgb(244, 244, 246);
    padding: 10px;
    width: 100%;
}

.artist {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.artist-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 50px;
}

.artist-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.artist-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.artist-info p {
    font-size: 14px;
    line-height: 1.5;
}

/* Add additional styling as needed */

@media screen and (max-width: 630px) {

    .image-section{
        flex-direction: column;
        margin-top: 30px;
        justify-content: center;
    }

    .image-section-text h2{
        text-align: center;
        margin-top: 20px;
    }
    .vector-section-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        flex-direction: column;
    }
        
    .vector-section {
        background-color: rgb(244, 244, 246);
    }
        
    .about-vector {
        top: 300px;
    }

    .services-list {
       font-size: 0.9rem;
    }
          .artists-container {
              padding: 10px;
          }
    
          .artist {
              flex-direction: column;
              text-align: center;
          }
    
          .artist-image {
              margin: 0 auto 20px;
          }

    
}