/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

a{
     text-decoration: none;
     color: inherit;
}
/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Playfair Display', serif;
     overflow-x: hidden;
     
}

.btn{
     padding: 10px 25px;
     font-size: xx-small;
     font-weight: lighter;
     border-radius: 8px;
     cursor: pointer;
     border: none;
}

.uppercase {
     text-transform: uppercase;
}

.percentage-style {
     font-size: 2.5rem;
     font-weight: 700;
}
/******************************************
/* Header
/*******************************************/

nav {
     display: flex;
     justify-content: center;
     height: 60px;
}

.site-logo{
     width:80px;
}
.navContainer {
     width: 100%;
     display: flex; 
     justify-content: space-between;
     align-items: center;
     font-size: small;
     padding: 0 20px;
}

.hamburger-menu {
     display: none;
     cursor: pointer;
}

.bar {
     width: 25px;
     height: 3px;
     background-color: #333;
     margin: 5px 0;
}

.nav-links{
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;

}
nav li {
     list-style: none;
}


header {

     background-image: url(../images/header.png);
     width: 100vw;
     background-repeat: no-repeat;
     background-size: 100% auto;
     color: white;
     display: flex;
     flex-direction: column;
     position: relative;
}

.title {
     width: 80%;
     margin: 50px;
}

.title h1{
     width: 45%;
     letter-spacing: 8px;
     font-weight: lighter;
     font-size: 2.5rem;
}

.title h3{
     font-size: 0.8rem;
     letter-spacing: 5px;
     line-height: 1.5;
}

.voucher {
     background-color: rgb(148, 146, 146);
     text-align: center;
     border-radius: 8%;
     color: black;
     padding: 15px 0;
     width: 140px;
     line-height: 150%;
     position: absolute;
     top: 160px;
     right: 10px;

}


.voucher p {
     font-size: 0.5rem;
}

.voucher p:first-child {
     border-left: solid black 3px;
     margin-top: 0;
}
.voucher-btn{
     background-color: black;
     color: #fff;
}



/******************************************
/* Sections
/*******************************************/



.services {
     display: flex;
     justify-content: space-around;
     margin: 0 50px;
     font-size: x-small;
}

.services img{
     width: 80px;
}

.services section{
     margin: 30px;
     text-align: center;
}

.highlight{
     display: flex;
     justify-content: space-around;
     background-color: rgb(244,244,246);
     padding: 70px;
     font-size: small;
}

.highlight-text{
     width: 50%;
     line-height: 1.5;
     text-align: justify;
}

.highlight-image{
     width: 200px;
     margin-left: 120px;
}

.highlight button{
     margin-top: 30px;
     background-color: black;
     color: white;
    
}

.staff{
     display: flex;
     justify-content: space-around;
     padding: 50px;
     width: 100%;
}

.staffCard{
     position: relative;
     width: 25%;
}

.staffImg{
     width: 100%;
     height: auto;
}

.staffInfo{
     background-color: black;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     color: white;
     width: 100px;
     height: 60px;
     padding: 5px;
     font-size: xx-small;
     font-weight: bolder;
     position: absolute;
     top: 80%;
     left: 20%;
     text-align: center;
}

.staff-designation{
     font-size: 6px;
     font-weight: lighter;
}

.offer{
     display: flex;
     width: 100%;
     justify-content: center;
     background-color: rgb(244	244	246) ;
     margin: 40px 10px;
     /* margin: 150px 30px 80px 30px; */
     
}

.offer div{
     padding: 30px;
     width: 50%;
     line-height: 35px;

}

.offer div p{
     font-size: x-small;
}

.offer h3{
     font-weight: lighter;
}
.offer img{
     width: 250px;
}

.offer button{
     background-color: black;
     color: white;
}

.lookBook{
     margin-bottom: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.lookBook hr{
     width: 15px;
     height: 2px;
     background-color: black;

}

.photogrid{
     background-color: black;
     height: 403px;
     width: 600px;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin: 0 auto
}

.look{
     width:200px;
}



@media screen and (max-width: 610px) {
     .nav-links {
          display: none;
     }

     .hamburger-menu {
          display: block;
     }
     /* nav.extended{
          height: 200px;
          align-items: flex-start;
          padding-top: 10px;
     } */
     .nav-links.active {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 10px 0 0 0;
          padding:0;
          align-items: center;
          position: absolute;
          top: 50px;
          right: 0px;
          z-index: 1;
          background-color: rgb(55, 53, 53);
          color: #fff;

     }
     .nav-links.active li{
          padding: 12px 4px;
          width: 100%;
          border: 0.5px solid rgb(129, 124, 124);
          text-align: center;
     }

     .title{
          width: 80%;
     }
     .title h1{
          width: 60%;
          font-size: 1.5rem;
          margin-top: 0;
     }

     .title h3{
          font-size: 0.5rem;
     }

     .btn{
          padding: 5px 10px;
     }

     .voucher{
          font-size: 0.5rem;
     }

     .percentage-style {
          font-size: 1.5rem;
          font-weight: 700;
     }

     .services{
          margin: 30px 20px;
          flex-direction: column;
     }
     .services img{
          width: 50px;
     }
     .services section{
          margin: 0;
          text-align: justify;
          width: 70%;
     }

     .right-aligned{
          align-self:flex-end;
     }

     .right-aligned-title{
          text-align: end;
     }

     .highlight{
          flex-direction: column;
          padding: 20px;
          width: 100%;
          position: relative;
          height: 520px;
          justify-content: flex-end;
     }

     .highlight-text{
          width: 100%;
          text-align: center;
     }

     .highlight-image{
          position: absolute;
          transform: rotate(90deg);
          width: 45%;
          height: 100vw;
          margin: 0; 
          top: -25%;
          left: 27%;
     }
     
     .staff{
          padding: 30px 10px;
     }

     .staffCard{
          width: 30%;
     }

     .staffInfo{
          left: 15%;
     }
     
}