/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

a{
     text-decoration: none;
     color: black;
}
/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Playfair Display', serif;
     
}

.btn{
     padding: 10px 25px;
     font-size: xx-small;
     font-weight: lighter;
     border-radius: 8px;
     cursor: pointer;
     border: none;
}

.uppercase {
     text-transform: uppercase;
}

.percentage-style {
     font-size: 30px;
     font-weight: 700;
}
/******************************************
/* Header
/*******************************************/

nav {
     display: flex;
     justify-content: center;
     height: 60px;
}

.navContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: small;
     padding: 0 20px;
}

.navContainer>img {
     flex-basis: 1;
     height: 35px;
}


ul {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-basis: 8;
}

li {
     list-style: none;
     padding: 15px;
}


header {

     background-image: url(../images/header.png);
     width: 100%;
     background-repeat: no-repeat;
     background-size: contain;
     color: white;
     display: flex;
     flex-direction: column;
}

.title {
     width: 320px;
     margin: 50px;
}

header h1{
     letter-spacing: 8px;
     font-weight: lighter;
     font-size: 50px;
}

header h3{
     font-size: small;
     letter-spacing: 5px;
     line-height: 1.5;
}

.voucher {
     background-color: rgb(148, 146, 146);
     text-align: center;
     border-radius: 8%;
     color: black;
     padding: 15px 0;
     margin-top: 20px;
     width: 180px;
     line-height: 150%;
     margin-right: 70px;
     align-self: flex-end;

}



.voucher p {
     font-size: x-small;
}

.voucher p:first-child {
     border-left: solid 3px;
     margin-top: 0;
}
.voucher-btn{
     background-color: black;
   
}

.voucher-btn a{
     color: white;
}

/******************************************
/* Sections
/*******************************************/



.services {
     display: flex;
     justify-content: space-around;
     margin: 0 50px;
     font-size: x-small;
}

.services img{
     width: 80px;
}

.services section{
     margin: 30px;
     text-align: center;
}

.highlight{
     display: flex;
     justify-content: center;
     background-color: rgb(244	244	246);
     padding: 70px 120px;
     font-size: small;
}

.highlight-text{
     width: 50%;
     line-height: 1.5;
     text-align: justify;
}

.highlight-image{
     width: 200px;
     margin-left: 120px;
}

.highlight button{
     margin-top: 30px;
     background-color: black;
     color: white;
    
}


.staff{
     display: flex;
     justify-content: space-around;
     padding: 50px 100px;
}

.staffCard{
     flex-basis: 1;
     position: relative;
}

.staffCard img{
     width: 160px;
     height: 240px;
}

.staffInfo{
     background-color: black;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     color: white;
     width: 120px;
     height: 60px;
     padding: 5px 25px;
     font-size: xx-small;
     font-weight: bolder;
     position: absolute;
     top: 200px;
     left: 20px;
     text-align: center;
}

.staff-designation{
     font-size: 6px;
     font-weight: lighter;
}

.offer{
     display: flex;
     width: 100%;
     justify-content: center;
     background-color: rgb(244	244	246) ;
     margin: 40px 10px;
     /* margin: 150px 30px 80px 30px; */
     
}

.offer div{
     padding: 30px;
     width: 50%;
     line-height: 35px;

}

.offer div p{
     font-size: x-small;
}

.offer h3{
     font-weight: lighter;
}
.offer img{
     width: 250px;
}

.offer button{
     background-color: black;
     color: white;
}

/* .offer span {
     font-size: xx-large;
     font-weight: 700;
} */

.lookBook{
     text-align: center;
     margin-bottom: 50px;
}

.lookBook hr{
     width: 15px;
     height: 2px;
     background-color: black;

}

.photogrid img{
     width: 180px;
     margin: 5px;
     
}

.photogrid{
     height: 415px;
     width: 500px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     flex-wrap: wrap;
     margin: 0 auto;
}